@import "tailwindcss";

html{
  scroll-behavior: smooth;
}

html, 
body{
  height: 100%;
  width: 100%;
}



.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
}
